---
import Spotify from "./Spotify.astro";

interface Props {
  url: string;
}

const { url } = Astro.props;
---

<section id="spotify" class="py-28 px-6">
  <div class="max-w-4xl mx-auto">
    <div class="text-center mb-16">
      <h2 class="text-4xl font-bold mb-4">My Favorite Playlist</h2>
    </div>
    
    <Spotify url={url} />
  </div>
</section>
